.Resource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.ResourceContainer{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
}

.UserDataWrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.UserPhoto {
    height: 250px;
    border-radius: 20px;
}

.UserData {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.UserDataHeaderWrapper {
    display: flex;
    justify-content: space-between;
}

.UserDataHeaderWrapper div {
    font-size: 2em;
    font-weight: 400;
}

.UserData button {
    padding: 5px;
    margin: 5px 0 5px 10px;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    color: #fff;
}

.UserData button:hover {
    cursor: pointer;
}

.DiscardButton {
    background-color: #f06b6b;
}
.DiscardButton:active {
    background-color: #f74545;
}

.ConfirmButton {
    background-color: #289e24;
}
.ConfirmButton:active {
    background-color: #1e7a1b;
}

.DataRow {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.Input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 10px;
}

.Input input {
    border: 0;
    border-bottom: 1px solid #969696;
    width: 100%;
    font-size: 1.2em;
}

.Input input:focus {
    outline: none;
    border-bottom: 1px solid #292929;
    transition-duration: 300ms;
}
.Input input:focus::placeholder {
    color: #292929;
    transition-duration: 300ms;
}

.Input label {
    text-align: left;
}

.WrongInput label {
    color: #f74c3f;
}
.WrongInput input {
    color: #f74c3f;
    border-color: #f74c3f;
}
.WrongInput input:focus {
    color: #f74c3f;
    border-color: #f74c3f;
}


.ButtonsCont {
    display: inline-flex;
    justify-content: center;
}